* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 960px) {
    html {
        font-size: 14px
    }
}

@media (max-width: 480px) {
    html {
        font-size: 12px
    }
}

body {
    background-color: #e6ecf0 !important;
}

ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
}